# Ujian Tengah Semester Ganjil Robotika dan AI 2025

Catatan:

*Jawablah pertanyaan dengan baik dan dikumpulkan pada:* 
[KUMPUL UTS](https://forms.gle/bhScAfvDihZieBBP8)

*Apabila secara keseluruhan hasil AI maka nilai akan dikurangi*

# Halaman Soal

1. Apa yang anda ketahui tentang algoritma dan logika. Apa hubungannya? Buat satu contoh algoritma yang ada hubungannya tentang Komputer.

In [ ]:
# Jawaban dalam bentuk comment python:

2. Buatlah program Python yang meminta pengguna memasukkan nama dan umur, lalu menampilkan kalimat seperti contoh berikut:

```
Masukkan nama Anda: Mahasiswa
Masukkan NIM Anda: 6002201014
Masukkan umur Anda: 21

Halo Mahasiswa NIM 6002201014, umur Anda 21 tahun.
```

3. Perhatikan potongan kode berikut:

In [ ]:
a = input("Masukkan nilai= ")
b = 9
c = a + b
print(c)

a) Run kode di atas Jika inputan 6, Jelaskan yang terjadi setelah program dijalankan.

b) Tuliskan versi kode yang benar agar menghasilkan output 15.

In [ ]:
# Jawaban Bagian a). Jawab dalam bentuk comment python

In [ ]:
# Jawaban Bagian b).

4. Soal dibawah dijawab sebagai comment di samping syntax

In [ ]:
var = 17             # input dengan ujung nim anda baris ini

var  += 10             # arti syntax: 
var  -= 4              # arti syntax: 
var //= 5              # arti syntax: 
var  %= 3              # arti syntax: 
var **= 2              # arti syntax:         
var   = var < var**2   # arti syntax dan hasil outputnya: 
print(var)

1
False

5. Anda memiliki fungsi matematika: $f(x) = x^2-x+1 $. Buatkan program untuk mengetahui 4 nilai fungsi seperti berikut. 

Contoh output:
```
pada x=1 nilai fungsi adalah: 1
pada x=1.5 nilai fungsi adalah: 1.75
pada x=2 nilai fungsi adalah: 3
pada x=2.5 nilai fungsi adalah: 4.75
```

In [ ]:

x1 =
fun1 = 
print(f'pada x={x1} nilai fungsi adalah: {fun1}')

x2 =
fun2 = 
print(f'pada x={x2} nilai fungsi adalah: {fun2}')

x3 =
fun3 = 
print(f'pada x={x3} nilai fungsi adalah: {fun3}')

x4 =
fun4 = 
print(f'pada x={x4} nilai fungsi adalah: {fun4}')

6. Tuliskan program Python yang meminta satu bilangan bulat, kemudian cek apakah bilangan ganjil? output harus seperti berikut:

```
Masukkan Bilangan Genap: 5
Pengecekan bilangan 5 merupakan ganjil adalah True
```

7. Buat program yang meminta inputan bilangan riil untuk rentang berikut. Apabila pada rentang yang benar maka mengembalikan True jika salah maka False.

$x< -8$ atau $-4 < x < -2$ atau $0 < x < 3$
```
contoh jika:
Masukkan nilai pada rentang yang benar: 7
Hasil Inputan: False

contoh jika:
Masukkan nilai pada rentang yang benar: 2
Hasil Inputan: True

```

8. Diberikan:
```
teks = "   KuliAh&&-PemrOgrAman&&PythoN&&itu&&sEru^#dAN**menyEnangkaN!   "
```
Tuliskan kode untuk:

a) Menghapus spasi di awal dan akhir serta membuat kalimatnya menjadi benar

b) Mengubah setiap huruf pertama pada kata menjadi huruf besar.

c) Menghitung berapa kali huruf n muncul dalam string `teks`.

9. Anda memiliki list:
```
angka = [5, 10, 15, 20, 14, 2, 4, 12, 11, 9]
```
Tuliskan kode untuk:

a) Menambahkan elemen `25` ke akhir list dan di antara `10` dan `15`.

b) Menghapus elemen `10`.

c) Menampilkan elemen pertama dan terakhir.

d) Hitung nilai rata-rata data `angka`

10. Perhatikan dictionary berikut:
``` 
data = {
  "Bio" : {
                "nama"  : "Nama Lengkap",
                "NIM"   : 6002201014,
                "Prodi" : "Matematika",
                "tahun" : 2025
            },
  "Matakuliah" : {
                "mk"    : ['Kalkulus','PTI','PP','PKN','Agama','CINTA'],
                "nilai" : [91,89,90,90,91,94]
            }
}
```
Buatkan program yang memberikan Ouput:
```
Nama Mahasiswa  : Nama Lengkap
Prodi           : Matematika - 2025
NIM             : 6002201014


Nilai Matakuliah Tertinggi adalah   : CINTA dengan nilai 94
Nilai Matakuliah Terendah adalah    : PTI dengan nilai 89

Nilai rata-rata matakuliah adalah: 90.83333333333333

```